{
	"hot_exit": false,
	"ignored_packages":
	[
		"Vintage",
	],
	"remember_open_files": false,
	"theme": "Spacegray.sublime-theme",
	"color_scheme": "Packages/Monokai - Spacegray/Monokai - Spacegray.tmTheme",
}
